**/node_modules
**/.next
**/dist
**/build
**/.turbo
**/.cache

.git
.github
.vscode
.idea

apps/docs/**
!apps/docs/package.json

**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

**/*.log
**/.DS_Store
**/coverage

apps/solivio/.next
apps/solivio/tsconfig.tsbuildinfo
